@main-color: #16a815;
@secondary-color: #ffa500;

body, html {
  width: 100%;
  height: 100%;
}

.clickable {
  cursor: pointer !important;
}

.secondary-color {
  color: #ffa500;
}

.app {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.main__layout {
  width: 100%;
  height: 100%;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.topbar {
  width: 100%;
  height: 60px;
  background: #16a815;
  position: relative;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px black;
  z-index: 5;

  & .topbar__title {
    color: white;
    font-size: 36px;
    margin: 0 auto;
  }
}
