.recipes-list__wrapper {
  background: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 100%;
}

.recipes-list {
  width: 100%;
  height: 100%;
}

.recipes-list__sidebar {
  width: 400px;
  height: 100%;
  background: #232627;
}

.sidebar__tabs {
  display: flex;
  width: 100%;
}

.sidebar__tab {
  flex: 1;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  border-bottom: 1px solid rgba(231, 202, 179, 0.2);
  transition: border-bottom .5s;

  &.active {
    border-bottom: 1px solid #e7cab3;
  }
}

.recipes-list__spinner {

}

.list__wrapper {
  width: 100%;
  height: 100%;
  text-align: center;
}

.list-of-recipes {
  height: 100%;
  padding: 20px;
}

.list-of-recipes__item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background: #e8e4e8;
  padding: 10px;
  margin: 10px;

  &:hover {
    background: #ececec;
  }

  p {
    margin-left: 15px;
    font-size: 1.5em;
    color: #3e3e3e;
  }
}

.list-of-recipes__img__wrapper {
  width: 120px;
  height: 120px;
  min-width: 120px;
  display: flex;
  align-items: center;
  overflow: hidden;

  img {
    object-fit: cover;
    height: 120px;
    width: 120px;
  }
}